streamlit==0.66.0
pandas==1.0.5
numpy==1.18.5
matplotlib==3.2.2
librosa==0.8.0
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.6.0+cpu
--find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.7.0+cpu
scikit-learn==0.23.1
pillow==7.2.0

